@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
	font-family:
		Inter Tight,
		sans-serif;
}
body {
	overflow: auto;
}

@layer utilities {
	.bg-gradient-light {
		background: linear-gradient(135deg, #cadeec8f 0%, #fde2e4 100%);
	}
}
