@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;600;700&display=swap');

.container {
	font-family: 'Inter Tight', sans-serif;
	min-height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	max-width: 1263.2px;
	margin: 0 auto;
}

.hero {
	width: 100%;
	margin: 1.5rem auto;
	background: conic-gradient(
		from 0deg,
		rgba(255, 100, 100, 0.2),
		rgba(100, 100, 255, 0.2),
		rgba(100, 255, 100, 0.2),
		rgba(255, 255, 100, 0.2),
		rgba(255, 100, 100, 0.2)
	);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1.5rem;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.hero::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	background: inherit;
	z-index: -1;
	animation: rotateGradient 20s linear infinite;
}

.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	z-index: -1;
}

.heroContent {
	flex: 1;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 2;
}

.heroTitle {
	font-size: 3.5rem;
	color: #000000;
	margin-bottom: 1rem;
	line-height: 1.2;
	font-weight: 900;
}

.heroDescription {
	font-size: 1.005rem;
	color: #333333;
	margin-bottom: 2rem;
	line-height: 1.6;
	font-weight: 400;
}

.ctaButton {
	display: inline-block;
	background-color: rgba(0, 0, 0, 1);
	color: #ffffff;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
	font-weight: 600;
	transition: all 0.3s ease;
	align-self: center;
	border-radius: 9999px;
	/* backdrop-filter: blur(5px); */
}

.ctaButton:hover {
	background-color: rgba(0, 0, 0, 1);
	transform: translateY(-2px);
}

.stats {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 20px;
}

.statItem {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(5px);
	padding: 1rem;
	border-radius: 1rem;
	transition: all 0.3s ease;
	cursor: pointer;
}

.statItem:hover {
	transform: translateY(-5px);
}

.statNumber {
	font-size: 2rem;
	font-weight: 700;
	color: #000000;
}

.statLabel {
	font-size: 0.875rem;
	color: #333333;
	margin-top: 0.5rem;
	font-weight: 400;
}

.imageGrid {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
	padding: 1rem;
	position: relative;
	z-index: 2;
}

@media (max-width: 1024px) {
	.imageGrid {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */
	}

	.imageGrid::-webkit-scrollbar {
		/* WebKit */
		width: 0;
		height: 0;
	}
}

.imageItem {
	position: relative;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	border-radius: 1rem;
	transition: all 0.3s ease;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.imageItem {
		flex: 0 0 100%;
		scroll-snap-align: start;
	}
}

.sliderImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes rotateGradient {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 1024px) {
	.hero {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.ctaButton {
		width: 100%;
	}
	.heroContent {
		padding: 2rem;
	}

	.heroTitle {
		font-size: 2.5rem;
	}

	.stats {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		width: 100%;
	}
	.statItem {
		width: 100%;
	}
}
